header {
  align-items: center;

  background-color: #444444;

  display: flex;

  justify-content: space-between;

  padding: 18px 40px;
}

h1 {
  align-items: center;

  color: #FF4E7B;

  display: flex;

  gap: 12px;
}

img {
  width: 50px;
}

ul {
  display: flex;
}

.links {
  border-radius: 8px;

  color: #FFF;

  font-size: 18px;

  font-weight: bold;

  padding: 15px 25px;

  transition: .4s;
}

.links:hover {
  background-color: #FF4E7B;
}
