.about {
  align-items: center;

  display: flex;

  flex-direction: column;

  justify-content: center;

  padding: 2em;
}

h2, p {
  margin-bottom: 1em;
}

.about a {
  color: #FF4E7B;

  text-decoration: underline;

  transition: .3s;
}

.about a:hover {
  color: #FF295F;
}