<form>
  <div class="form-group">
    <label for="title">Título:</label>
    <input type="text" id="title" placeholder="Informe um título..." required>
  </div>
  <div class="form-group">
    <label for="description">Descrição:</label>
    <textarea id="description" placeholder="Descreva o seu momento..." required></textarea>
  </div>
  <div class="form-group">
    <label for="image">Escolha uma imagem que simbolize o seu momento:</label>
    <input type="file" id="image">
  </div>
  <input type="submit" value="{{ btnText }}">
</form>