<div class="home-container">
  <div class="search-container">
    <form>
      <fa-icon [icon]="faSearch"></fa-icon>
      <input type="text" placeholder="Pesquise por um momento..." (input)="search($event)">
    </form>
  </div>
  <div *ngIf="moments.length > 0; else noMoments">
    <div class="moments-container">
      <div class="moment" *ngFor="let moment of moments">
        <img src="{{baseApiUrl}}uploads/{{moment.image}}" alt="{{moment.title}}">
        <h3>{{ moment.title }}</h3>
        <p>Em: <span class="date">{{ moment.created_at }}</span></p>
        <p>Comentários: {{ moment.comments!.length }}</p>
        <p>
          <a routerLink="moments/{{moment.id}}">Detalhes</a>
        </p>
      </div>
    </div>
  </div>
  <ng-template #noMoments>
    <h2>Nenhum momento encontrado...</h2>
  </ng-template>
</div>
