/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;

  margin: 0;

  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.section-title {
  font-size: 2.2em;

  margin-bottom: 1em;

  text-align: center;
}
.section-title span {
  color: #FF4E7B;
}

/* FORM */
form {
  margin: 0 auto;

  width: 500px;
}

.form-group {
  display: flex;

  flex-direction: column;

  margin-bottom: 1em;
}

.form-group label {
  font-size: .9em;

  font-weight: bold;

  margin-bottom: .6em;
}

.form-group :is(input, textarea) {
  font-size: .9em;

  padding: .6em;
}

.form-group textarea {
  height: 200px;
}

/* VALIDATION FORM */
.validation-error p {
  color: #DC3545;

  font-size: .9em;

  margin-top: .4em;

  padding-left: .2em;
}

/* BUTTONS */
.submit-btn,
.edit-btn,
.remove-btn {
  background-color: #FFF;

  border-radius: 5px;

  cursor: pointer;

  font-size: 1.2em;

  font-weight: bold;

  padding: .4em 1em;

  transition: .4s;
}

.submit-btn {
  border: 2px solid #00A27B;

  color: #00A27B;
}

.edit-btn {
  border: 2px solid #208AD8;

  color: #208AD8;
}

.remove-btn {
  border: 2px solid #F10047;

  color: #F10047;
}

.submit-btn:hover {
  background-color: #00A27B;

  color: #FFF;
}

.edit-btn:hover {
  background-color: #208AD8;

  color: #FFF;
}

.remove-btn:hover {
  background-color: #F10047;

  color: #FFF;
}
